body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  appearance: none;
  padding: 0;
  cursor: pointer;
}

address {
  font-style: normal;
}

.btn {
  display: inline-block;
  padding: 12px 88px;
  text-align: center;
  border: 2px solid #000;
  font-weight: bold;
}

.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn.slide-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-color: #333333;
  transition: transform 0.3s;
  z-index: -1;
}

.btn.filled {
  transition: background-color 0.3s;
}

.btn.filled:hover {
  background-color: #333333;
}

.btn:hover {
  color: #ffffff;
}

.btn:hover::before {
  transform: none;
}

.detaile-link .btn {
  width: 115px;
  margin-top: 20px;
}

.back-top-btn {
  position: fixed;
  bottom: 16%;
  right: 1.5%;
  width: 50px;
  height: 50px;
  background-color: #929191;
  border-radius: 50%;
  z-index: 50;
  opacity: 0;
  transition: opacity 0.5s;
}

.back-top-btn.show {
  opacity: 1;
}

.back-top-btn a {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
}

.back-top-btn a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f106";
  font-weight: 900;
  font-size: 25px;
  color: #ffffff;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -3px;
  margin: auto;
}

body {
  position: relative;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0.1em;
  background-color: #ffffff;
  font-family: YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.scroll-animation {
  opacity: 0;
  transition: all 1s;
}

.scroll-animation.show {
  opacity: 1;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  transition: all 0.8s ease-in-out;
  opacity: 0.8;
}

.header__inner {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  margin-left: auto;
  display: none;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
  }
}

.header__ul {
  display: flex;
}

.header__li {
  margin-left: 48px;
  font-size: 18px;
}

.header__li:first-child {
  margin-left: 0;
}

.header a {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 8px;
}

.header a::after {
  content: "";
  display: block;
  border-bottom: 2px solid #ffffff;
  transition: all 0.3s;
  width: 0;
}

.header a:hover::after {
  width: 100%;
}

.header.fixed {
  position: fixed;
  background-color: #000;
}

.sp-menu-btn__item {
  position: relative;
  display: block;
  background-color: #ffffff;
  width: 35px;
  height: 3px;
  margin-bottom: 8px;
  transition: all 0.5s;
}

.sp-menu-btn__item.active:nth-child(1) {
  top: 12px;
  transform: rotate(45deg);
}

.sp-menu-btn__item.active:nth-child(2) {
  opacity: 0;
}

.sp-menu-btn__item.active:nth-child(3) {
  top: -10px;
  transform: rotate(-45deg);
}

.sp-menu-btn__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .sp-menu-btn {
    display: none;
  }
}

.sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.5s linear;
  z-index: 10;
}

.sp-menu__nav {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sp-menu__li {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 40px;
  text-align: center;
}

.sp-menu__li span {
  display: block;
  font-size: 12px;
}

.sp-menu.show {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .sp-menu {
    display: none;
  }
}

.fv {
  position: relative;
  overflow: hidden;
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fv__bg {
  height: 100vh;
  background: url(../images/fv.jpg) no-repeat center/cover;
  animation: zoom-in 2s;
}

.fv__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -35%);
  }
  100% {
    opacity: 1;
  }
}

.fv__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  opacity: 0;
  animation: fade-in 2s 1.7s forwards;
}

@media screen and (min-width: 768px) {
  .fv__title {
    font-size: 64px;
  }
}

.philosophy {
  height: 100vh;
  max-height: 1000px;
  overflow: hidden;
  background: url(../images/message_bg.jpg) no-repeat center/cover;
}

.philosophy__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}

.philosophy__title {
  color: #ffffff;
  font-size: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .philosophy__title {
    font-size: 60px;
    padding-bottom: 80px;
  }
}

.philosophy__leade {
  color: #ffffff;
  font-size: 24px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .philosophy__leade {
    font-size: 32px;
    padding-bottom: 40px;
  }
}

.philosophy__text {
  color: #ffffff;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .philosophy__text {
    color: #ffffff;
    padding-bottom: 40px;
  }
}

.works {
  text-align: center;
  background-color: #f2f2f2;
}

.works__inner {
  padding: 80px 20px;
}

@media screen and (min-width: 768px) {
  .works__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
  }
}

.works__title {
  text-align: center;
  font-size: 40px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .works__title {
    font-size: 64px;
  }
}

.works__li {
  padding-bottom: 56px;
}

@media screen and (min-width: 768px) {
  .works__li {
    padding-bottom: 80px;
    text-align: center;
  }
}

.works__thumb a {
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .works__thumb {
    width: 645px;
    height: 430px;
    overflow: hidden;
  }
  .works__thumb img {
    transition: transform 0.7s;
  }
  .works__thumb img:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }
}

@media screen and (min-width: 1024px) {
  .works__airticle--row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  .works__airticle--row-reverse {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}

.works__info {
  padding-top: 20px;
  line-height: 1.7;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .works__info {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .works__info {
    padding-top: 0;
    text-align: left;
  }
}

.works .post-date,
.works .work-content {
  color: #c7c7c7;
  font-size: 14px;
}

.works .past-work {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .works .past-work {
    font-size: 40px;
  }
}

.recruit__inner {
  text-align: center;
  margin: 80px 0;
}

.recruit__title {
  font-size: 40px;
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .recruit__title {
    font-size: 64px;
  }
}

@media screen and (min-width: 1024px) {
  .recruit__ul {
    display: flex;
    flex-wrap: wrap;
  }
  .recruit__li {
    width: 50%;
  }
}

.heading {
  position: relative;
  height: 320px;
}

.heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.tokyo {
  background: url(../images/office_tokyo.jpg) no-repeat center/cover;
}

.osaka {
  background: url(../images/office_osaka.jpg) no-repeat center/cover;
}

.nagoya {
  background: url(../images/office_nagoya.jpg) no-repeat center/cover;
}

.fukuoka {
  background: url(../images/office_fukuoka.jpg) no-repeat center/cover;
}

.lead {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #ffffff;
}

.title {
  font-size: 40px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 64px;
  }
}

.location-info {
  margin: 40px 0;
  line-height: 1.7;
}

.office-name {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 4px;
}

.contact {
  background-color: #f2f2f2;
  text-align: center;
}

.contact__outer {
  margin: 80px 0;
}

.contact__inner {
  padding: 80px 15px;
}

@media screen and (min-width: 1024px) {
  .contact__inner {
    padding: 80px 0;
  }
}

.contact__title {
  font-size: 40px;
  margin-bottom: 80px;
}

.contact__text {
  margin-bottom: 40px;
  line-height: 2;
}

.contact br {
  display: none;
}

@media screen and (min-width: 1024px) {
  .contact br {
    display: block;
  }
}

.footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding-bottom: 5px;
}

.footer__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}

.footer__title {
  font-size: 40px;
}

.footer__ul {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__li {
  margin-right: 20px;
}

.footer__li:last-child {
  margin-right: 0;
}
