*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 16px;
  background-color: #ffffff;
  font-family: YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #333333;
  text-decoration: none;
  transition: all 0.6s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
}

.header__container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  margin-left: auto;
  display: none;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
  }
}

.header__ul {
  display: flex;
  align-items: center;
}

.header__li {
  margin-left: 40px;
  font-size: 20px;
  cursor: pointer;
}

.sp-btn > span {
  display: block;
  background: #333333;
  width: 35px;
  height: 3px;
  margin-bottom: 8px;
  transition: transform 0.5s;
}

.sp-btn > span:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .sp-btn {
    display: none;
  }
}

.sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333333;
}

.sp-menu__nav {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sp-menu__li {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 40px;
  text-align: center;
}

.sp-menu__li > span {
  display: block;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .sp-menu {
    display: none;
  }
}
