*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0.1em;
  background-color: #ffffff;
  font-family: YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: #333333;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 12px 88px;
  text-align: center;
  border: 2px solid #000;
  font-weight: bold;
}

.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn.slide-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-color: #333333;
  transition: all 0.3s;
  z-index: -1;
}

.btn:hover {
  color: #ffffff;
}

.btn:hover::before {
  transform: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
}

.header__container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  margin-left: auto;
  display: none;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
  }
}

.header__ul {
  display: flex;
  align-items: center;
}

.header__li {
  margin-left: 48px;
  font-size: 20px;
  cursor: pointer;
}

.header__li a {
  color: #ffffff;
  font-weight: bold;
}

.sp-btn > span {
  display: block;
  background: #ffffff;
  width: 35px;
  height: 3px;
  margin-bottom: 8px;
  transition: transform 0.5s;
}

.sp-btn > span:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .sp-btn {
    display: none;
  }
}

.sp-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333333;
}

.sp-menu__nav {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sp-menu__li {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 40px;
  text-align: center;
}

.sp-menu__li > span {
  display: block;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .sp-menu {
    display: none;
  }
}

.fv {
  position: relative;
  overflow: hidden;
}

.fv__img {
  height: 100vh;
  background: url(/images/fv.jpg) no-repeat center/cover;
}

.fv__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.fv__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  .fv__title {
    font-size: 48px;
  }
}

.philosophy {
  height: 100vh;
  overflow: hidden;
  background: url(/images/message_bg.jpg) no-repeat center/cover;
}

.philosophy__inner {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 72px 0;
  text-align: center;
}

.philosophy__title {
  color: #ffffff;
  font-size: 40px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .philosophy__title {
    font-size: 60px;
    padding-bottom: 90px;
  }
}

.philosophy__leade {
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .philosophy__leade {
    font-size: 32px;
    padding-bottom: 40px;
  }
}

.philosophy__text {
  color: #ffffff;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .philosophy__text {
    color: #ffffff;
    padding-bottom: 32px;
  }
}

.works {
  background-color: #f2f2f2;
}

.works__inner {
  padding: 72px 25px;
}

@media screen and (min-width: 768px) {
  .works__inner {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
  }
}

.works__title {
  text-align: center;
  font-size: 40px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .works__title {
    font-size: 64px;
  }
}

.works__li {
  padding-bottom: 56px;
}

@media screen and (min-width: 768px) {
  .works__li {
    padding-bottom: 80px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .works__airticle--row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  .works__airticle--row-reverse {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}

.works__info {
  padding-top: 16px;
  line-height: 1.7;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .works__info {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .works__info {
    text-align: left;
  }
}

.works .post-date,
.works .work-content {
  color: #c7c7c7;
  font-size: 12px;
}

@media screen and (min-width: 1024px) {
  .works .post-date,
  .works .work-content {
    font-size: 16px;
  }
}

.works .past-work {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .works .past-work {
    font-size: 40px;
  }
}

.works__btn {
  text-align: center;
}
