@import "breakpoint.scss";

// ボタン
.btn {
  display: inline-block;
  padding: 12px 88px;
  text-align: center;
  border: 2px solid #000;
  font-weight: bold;

  &.slide-bg {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background-color: $cBlack;
      transition: transform 0.3s;
      z-index: -1;
    }
  }

  &.filled {
    transition: background-color 0.3s;

    :hover {
        background-color: $cBlack;
      }
  }

  &:hover {
    color: $cWhite;

    &::before {
      transform: none;
    }
  }
}

// TOPへ戻るボタン
.top-btn {
  position: fixed;
  bottom: 20%;
  right: 1%;
  width: 50px;
  height: 50px;
  background-color: rgb(146, 145, 145);
  border-radius: 50%;
}

.top-btn a {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
}

.top-btn a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f106";
  font-weight: 900;
  font-size: 25px;
  color: $cWhite;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -2px;
  margin: auto;
}
