@import "breakpoint.scss";

.btn {
  display: inline-block;
  padding: 12px 88px;
  text-align: center;
  border: 2px solid #000;
  font-weight: bold;

  &.slide-bg {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background-color: $black;
      transition: transform 0.3s;
      z-index: -1;
    }
  }

  &.filled {
    transition: background-color 0.3s;

    &:hover {
      background-color: $black;
    }
  }

  &:hover {
    color: $white;

    &::before {
      transform: none;
    }
  }
}

.detaile-link {
  & .btn {
    width: 115px;
    margin-top: $space20;
  }
}

.back-top-btn {
  position: fixed;
  bottom: 16%;
  right: 1.5%;
  width: 50px;
  height: 50px;
  background-color: #929191;
  border-radius: 50%;
  z-index: 50;
}

.back-top-btn a {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
}

.back-top-btn a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f106";
  font-weight: 900;
  font-size: 25px;
  color: $white;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -3px;
  margin: auto;
}
