$cBlack: #333333;
$cWhite: #ffffff;
$spTitle: 40px;
$tab-pcTitle: 64px;
$space: 80px;

// コンテンツの横幅
@mixin container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

// SP横
@mixin sp($tblet-Width: 480px) {
  @media screen and (min-width: $tablet-Width) {
    @content;
  }
}

// タブレット
@mixin tablet($tablet-Width: 768px) {
  @media screen and (min-width: $tablet-Width) {
    @content;
  }
}

// PC
@mixin pc($pc-Width: 1024px) {
  @media screen and (min-width: $pc-Width) {
    @content;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $cBlack;
  font-size: 16px;
  letter-spacing: 0.1em;
  background-color: $cWhite;
  font-family: YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: $cBlack;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 12px 88px;
  text-align: center;
  border: 2px solid #000;
  font-weight: bold;

  &.slide-bg {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background-color: $cBlack;
      transition: transform 0.3s;
      z-index: -1;
    }
  }

  &:hover {
    color: $cWhite;

    &::before {
      transform: none;
    }
  }
}

.detail-btn {
  width: 295px;
  margin-bottom: 16px;

  @include tablet {
    display: block;
    margin: 0 auto 16px;
    transition: all 0.3s;
  }

  &:hover {
    background-color: $cBlack;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;

  &__container {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    margin-left: auto;
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__ul {
    display: flex;
    align-items: center;
  }

  &__li {
    margin-left: 48px;
    font-size: 20px;
    cursor: pointer;

    & a {
      color: $cWhite;
      font-weight: bold;
      margin-bottom: 7px;

      &:hover {
        opacity: 0.6;
      }

      &::after {
        content: "";
        display: block;
        border-bottom: 2px solid $cWhite;
        transition: all 0.3s;
        width: 0;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.sp-btn {
  & > span {
    display: block;
    background: $cWhite;
    width: 35px;
    height: 3px;
    margin-bottom: 8px;
    transition: transform 0.5s;
  }

  & > span:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    display: none;
  }
}

.sp-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $cBlack;

  &__nav {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__li {
    color: $cWhite;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 40px;
    text-align: center;

    & > span {
      display: block;
      font-size: 12px;
    }
  }

  @include tablet {
    display: none;
  }
}

.fv {
  position: relative;
  overflow: hidden;

  &__img {
    height: 100vh;
    background: url(/images/fv.jpg) no-repeat center/cover;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $cWhite;
    font-size: 30px;

    @include tablet {
      font-size: 48px;
    }
  }
}

.philosophy {
  height: 90vh;
  overflow: hidden;
  background: url(/images/message_bg.jpg) no-repeat center/cover;

  @include pc {
    height: 100vh;
  }

  &__inner {
    @include container;
    padding-top: $space;
    text-align: center;
  }

  &__title {
    color: $cWhite;
    font-size: $spTitle;
    padding-bottom: 32px;

    @include tablet {
      font-size: 60px;
      padding-bottom: 90px;
    }
  }

  &__leade {
    color: $cWhite;
    font-size: 20px;
    padding-bottom: 20px;

    @include tablet {
      font-size: 32px;
      padding-bottom: 40px;
    }
  }

  &__text {
    color: $cWhite;
    padding-bottom: 16px;

    @include tablet {
      color: $cWhite;
      padding-bottom: 32px;
    }
  }
}

.works {
  background-color: #f2f2f2;

  &__inner {
    padding: $space 20px;

    @include tablet {
      @include container;
      padding: $space 0;
    }
  }

  &__title {
    text-align: center;
    font-size: $spTitle;
    padding-bottom: $space;

    @include tablet {
      font-size: $tab-pcTitle;
    }
  }

  &__li {
    padding-bottom: 56px;

    @include tablet {
      padding-bottom: $space;
      text-align: center;
    }
  }

  &__thumb {
    @include pc {
      width: 645px;
      height: 430px;
      overflow: hidden;

      img {
        transition: transform 0.8s;
      }
      img:hover {
        transform: scale(1.1);
        opacity: 0.9;
      }
    }
  }

  &__airticle--row {
    @include pc {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__airticle--row-reverse {
    @include pc {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-around;
    }
  }

  &__info {
    padding-top: 16px;
    line-height: 1.7;
    text-align: left;

    @include tablet {
      text-align: center;
    }

    @include pc {
      text-align: left;
    }
  }

  & .post-date,
  .work-content {
    color: #c7c7c7;
    font-size: 12px;

    @include pc {
      font-size: 16px;
    }
  }

  & .past-work {
    font-size: 24px;

    @include tablet {
      font-size: $spTitle;
    }
  }

  &__btn {
    text-align: center;
  }
}

.recruit {
  &__inner {
    text-align: center;
    margin: $space 0;
  }

  &__title {
    font-size: $spTitle;
    margin-bottom: $space;

    @include tablet {
      font-size: $tab-pcTitle;
    }
  }

  @include pc {
    &__ul {
      display: flex;
      flex-wrap: wrap;
    }
    &__li {
      width: 50%;
    }
  }
}
.heading {
  position: relative;
  height: 320px;
}

.heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.6);
}

$nameList: tokyo, osaka, nagoya, fukuoka;

@each $name in $nameList {
  .#{$name} {
    background: url(/images/office_#{$name}.jpg) no-repeat center/cover;
  }
}

.lead {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: $cWhite;
}

.title {
  font-size: 32px;

  @include tablet {
    font-size: 48px;
  }
}

.body {
  margin: 32px 0 48px;
  line-height: 1.7;
}

.office-info {
  margin-bottom: 24px;
}

.office-name {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 4px;
}

.contact {
  background-color: #f2f2f2;
  text-align: center;

  &__inner {
    padding: $space 15px;
    @include tablet {
      padding: $space;
    }
  }

  &__title {
    font-size: $spTitle;
    padding-bottom: $space;
  }

  &__text {
    padding-bottom: 48px;
    line-height: 2;
  }
  & br {
    display: none;

    @include pc {
      display: block;
    }
  }
}

.footer {
  background-color: $cBlack;
  color: $cWhite;
  text-align: center;
  padding-bottom: 5px;

  #top-btn {
    position: fixed;
    bottom: 20%;
    right: 1%;
    width: 50px;
    height: 50px;
    background-color: rgb(146, 145, 145);
    border-radius: 50%;
  }

  #top-btn a {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
  }

  #top-btn a::before {
    font-family: "Font Awesome 5 Free";
    content: "\f106";
    font-weight: 900;
    font-size: 25px;
    color: $cWhite;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -2px;
    margin: auto;
  }

  &__inner {
    @include container;
    padding-top: 40px;
  }

  &__title {
    font-size: 40px;
  }

  &__ul {
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__li {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}
