$cBlack: #333333;
$cWhite: #ffffff;

@mixin container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin sp($tblet-Width: 480px) {
  @media screen and (min-width: $sp-Width) {
    @content;
  }
}

@mixin pc($pc-Width: 768px) {
  @media screen and (min-width: $pc-Width) {
    @content;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $cBlack;
  font-size: 16px;
  letter-spacing: 0.1em;
  background-color: $cWhite;
  font-family: YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: $cBlack;
  text-decoration: none;
  transition: all 0.6s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;

  &__container {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    margin-left: auto;
    display: none;

    @include pc {
      display: block;
    }
  }

  &__ul {
    display: flex;
    align-items: center;
  }

  &__li {
    margin-left: 48px;
    font-size: 20px;
    cursor: pointer;

    & a {
      color: $cWhite;
      font-weight: bold;
    }
  }
}

.sp-btn {
  & > span {
    display: block;
    background: $cWhite;
    width: 35px;
    height: 3px;
    margin-bottom: 8px;
    transition: transform 0.5s;
  }

  & > span:last-child {
    margin-bottom: 0;
  }

  @include pc {
    display: none;
  }
}

.sp-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $cBlack;

  &__nav {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__li {
    color: $cWhite;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 40px;
    text-align: center;

    & > span {
      display: block;
      font-size: 12px;
    }
  }

  @include pc {
    display: none;
  }
}

.fv {
  position: relative;
  overflow: hidden;

  &__img {
    height: 100vh;
    background: url(/images/fv.jpg) no-repeat center/cover;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $cWhite;
    font-size: 30px;

    @include pc {
      font-size: 48px;
    }
  }
}

.philosophy {
  height: 100vh;
  overflow: hidden;
  background: url(/images/message_bg.jpg) no-repeat center/cover;

  &__inner {
    @include container;
    padding-top: 90px;
    text-align: center;
  }

  &__title {
    color: $cWhite;
    font-size: 40px;
    padding-bottom: 30px;
    @include pc {
      font-size: 60px;
      padding-bottom: 90px;
    }
  }

  &__leade {
    color: $cWhite;
    font-size: 20px;
    padding-bottom: 20px;
    @include pc {
      font-size: 32px;
      padding-bottom: 40px;
    }
  }

  &__text {
    color: $cWhite;
    padding-bottom: 16px;
    @include pc {
      color: $cWhite;
      padding-bottom: 32px;
    }
  }
}
