@import "reset.scss";
@import "variable.scss";
@import "breakpoint.scss";
@import "btn-style.scss";

// コンテンツの横幅
@mixin container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  position: relative;
  color: $black;
  font-size: 16px;
  letter-spacing: 0.1em;
  background-color: $white;
  font-family: YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.scroll-animation {
  opacity: 0;
  transition: all 1.2s;

  &.show {
    opacity: 1;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  transition: all 0.8s ease-in-out;
  opacity: 0.8;

  &__inner {
    @include container;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    margin-left: auto;
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__ul {
    display: flex;
  }

  &__li {
    margin-left: 48px;
    font-size: 18px;

    &:first-child {
      margin-left: 0;
    }
  }

  & a {
    color: $white;
    font-weight: bold;
    margin-bottom: 7px;

    &::after {
      content: "";
      display: block;
      border-bottom: 2px solid $white;
      transition: all 0.3s;
      width: 0;
    }

    &:hover::after {
      width: 100%;
    }
  }
  &.fixed {
    position: fixed;
    background-color: #000;
  }
}

.sp-btn {
  & > span {
    position: relative;
    display: block;
    background: $white;
    width: 35px;
    height: 3px;
    margin-bottom: 8px;
    transition: all 0.5s;

    &.active {
      &:nth-child(1) {
        top: 12px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        top: -10px;
        transform: rotate(-45deg);
      }
    }
  }

  & > span:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    display: none;
  }
}

.sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.5s linear;
  z-index: 10;

  &__nav {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__li {
    color: $white;
    font-size: $fontSize24;
    font-weight: bold;
    padding-bottom: $space40;
    text-align: center;

    & > span {
      display: block;
      font-size: 12px;
    }
  }

  &.show {
    opacity: 1;
  }

  @include tablet {
    display: none;
  }
}

.fv {
  position: relative;
  overflow: hidden;

  @keyframes zoom-in {
    0% {
      opacity: 0;
      transform: scale(1.1);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__bg {
    height: 100vh;
    background: url(/images/fv.jpg) no-repeat center/cover;
    animation: zoom-in 2s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.6;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translate(-50%, -35%);
    }

    100% {
      opacity: 1;
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $white;
    font-size: $spTitle;
    opacity: 0;
    animation: fade-in 2s 1.7s forwards;

    @include tablet {
      font-size: $tab-pcTitle;
    }
  }
}

.philosophy {
  height: 100vh;
  max-height: 1000px;
  overflow: hidden;
  background: url(/images/message_bg.jpg) no-repeat center/cover;

  &__inner {
    @include container;
    padding-top: $space80;
    text-align: center;
  }

  &__title {
    color: $white;
    font-size: $spTitle;
    padding-bottom: $space40;

    @include tablet {
      font-size: 60px;
      padding-bottom: $space80;
    }
  }

  &__leade {
    color: $white;
    font-size: $fontSize24;
    padding-bottom: $space40;

    @include tablet {
      font-size: 32px;
      padding-bottom: $space40;
    }
  }

  &__text {
    color: $white;
    padding-bottom: $space20;

    @include tablet {
      color: $white;
      padding-bottom: $space40;
    }
  }
}

.works {
  text-align: center;
  background-color: #f2f2f2;

  &__inner {
    padding: $space80 $space20;

    @include tablet {
      @include container;
      padding: $space80 0;
    }
  }

  &__title {
    text-align: center;
    font-size: $spTitle;
    padding-bottom: $space80;

    @include tablet {
      font-size: $tab-pcTitle;
    }
  }

  &__li {
    padding-bottom: 56px;

    @include tablet {
      padding-bottom: $space80;
      text-align: center;
    }
  }

  &__thumb {
    & a {
      display: inline-block;
    }

    @include pc {
      width: 645px;
      height: 430px;
      overflow: hidden;

      & img {
        transition: transform 0.7s;
      }
      & img:hover {
        transform: scale(1.1);
        opacity: 0.9;
      }
    }
  }

  &__airticle--row {
    @include pc {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__airticle--row-reverse {
    @include pc {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-around;
    }
  }

  &__info {
    padding-top: $space20;
    line-height: 1.7;
    text-align: left;

    @include tablet {
      text-align: center;
    }

    @include pc {
      padding-top: 0;
      text-align: left;
    }
  }

  & .post-date,
  & .work-content {
    color: #c7c7c7;
    font-size: 14px;
  }

  & .past-work {
    font-size: $fontSize24;

    @include tablet {
      font-size: $spTitle;
    }
  }
}

.recruit {
  &__inner {
    text-align: center;
    margin: $space80 0;
  }

  &__title {
    font-size: $spTitle;
    margin-bottom: $space80;

    @include tablet {
      font-size: $tab-pcTitle;
    }
  }

  @include pc {
    &__ul {
      display: flex;
      flex-wrap: wrap;
    }
    &__li {
      width: 50%;
    }
  }
}
.heading {
  position: relative;
  height: 320px;
}

.heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

$nameList: tokyo, osaka, nagoya, fukuoka;

@each $name in $nameList {
  .#{$name} {
    background: url(/images/office_#{$name}.jpg) no-repeat center/cover;
  }
}

.lead {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: $white;
}

.title {
  font-size: $spTitle;

  @include tablet {
    font-size: $tab-pcTitle;
  }
}

.location-info {
  margin: $space40 0;
  line-height: 1.7;
}

.office-name {
  font-weight: bold;
  font-size: $fontSize24;
  margin-bottom: 4px;
}

.contact {
  background-color: #f2f2f2;
  text-align: center;

  &__outer {
    margin: $space80 0;
  }

  &__inner {
    padding: $space80 15px;

    @include pc {
      padding: $space80 0;
    }
  }

  &__title {
    font-size: $spTitle;
    margin-bottom: $space80;
  }

  &__text {
    margin-bottom: $space40;
    line-height: 2;
  }
  & br {
    display: none;

    @include pc {
      display: block;
    }
  }
}

.footer {
  background-color: $black;
  color: $white;
  text-align: center;
  padding-bottom: 5px;

  &__inner {
    @include container;
    padding-top: $space40;
  }

  &__title {
    font-size: 40px;
  }

  &__ul {
    padding: $space40 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__li {
    margin-right: $space20;

    &:last-child {
      margin-right: 0;
    }
  }
}
