$cBlack: #333333;
$cWhite: #ffffff;

@mixin sp($tblet-Width: 480px) {
  @media screen and (min-width: $sp-Width) {
    @content;
  }
}

@mixin pc($pc-Width: 768px) {
  @media screen and (min-width: $pc-Width) {
    @content;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $cBlack;
  font-size: 16px;
  background-color: $cWhite;
  font-family: YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $cBlack;
  text-decoration: none;
  transition: all 0.6s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;

  &__container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    margin-left: auto;
    display: none;
    @include pc {
      display: block;
    }
  }

  &__ul {
    display: flex;
    align-items: center;
  }

  &__li {
    margin-left: 40px;
    font-size: 20px;
    cursor: pointer;
  }
}

.sp-btn {
  & > span {
    display: block;
    background: $cBlack;
    width: 35px;
    height: 3px;
    margin-bottom: 8px;
    transition: transform 0.5s;
  }

  & > span:last-child {
    margin-bottom: 0;
  }

  @include pc {
    display: none;
  }
}
